img[
    width: 100%;
    height: 100%;
    align: center;
]
b{
    background-color: black;
    color: white;
}
html {
    display:grid;
    display:flex;
    display:100%;
    
}
body{
    display:grid;
    display:flex;
    grid:flex;
    grid:auto;
}